{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "max-len": ["warn", { "code": 100 }],
    "no-console": "warn",
    "prefer-const": "error",
    "indent": ["warn", 2],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["warn", "always"],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ]
  }
}
